:root {
  --vp-c-blue: #0092ff;
  --vp-c-purple: #a463f2;
  --vp-c-brand-lighter: #d893ff;
  --vp-c-brand-light: #be7bff;
  --vp-c-brand: var(--vp-c-purple);
  --vp-c-brand-dark: #8a4cd8;
  --vp-c-brand-darker: #7135be;
  --vp-font-family-base: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

.vp-doc figcaption {
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  color: var(--vp-c-text-2);
}

.VPMenuGroup .title {
  line-height: 28px;
  font-size: 12px;
  font-weight: 500;
  color: var(--vp-c-text-2);
}

.vp-doc .plot,
.vp-doc .plot-ramp {
  background: none;
}

:root.dark marker[stroke="white"] {
  stroke: var(--vp-c-bg);
}

:root.dark marker[fill="white"] {
  fill: var(--vp-c-bg);
}

.vp-doc :not(pre) > code {
  line-height: 1.5;
}

.label-input {
  font-size: smaller;
  display: inline-flex;
  align-items: center;
  margin-right: 1em;
}

.label-input > label {
  display: inline-flex;
}

.label-input > input,
.label-input > select {
  all: revert;
  margin: 0 0.5em !important;
  accent-color: var(--vp-c-brand);
}

.vp-doc td {
  white-space: nowrap;
}

a.plot-fork {
  font-size: small;
  position: absolute;
  right: 0;
  margin-top: -8px;
  color: var(--vp-c-text-2);
  text-decoration: none !important;
}

a.plot-fork:hover {
  color: var(--vp-c-brand);
}

a.plot-fork::after {
  content: " ↗︎";
  opacity: 0.5;
}
