.plot {
  display: block;
  font: 10px system-ui, sans-serif;
  background: white;
  height: auto;
  height: intrinsic;
  max-width: 100%;
}

.plot text {
  white-space: pre;
}

.legends .swatches {
  display: flex;
  align-items: center;
  margin-left: var(--marginLeft);
  min-height: 33px;
  font: 10px sans-serif;
  margin-bottom: 0.5em;
}

.legends .swatches > div {
  width: 100%;
}

.legends .swatch-item {
  break-inside: avoid;
  display: flex;
  align-items: center;
  padding-bottom: 1px;
}

.legends .swatch-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - var(--swatchWidth) - 0.5em);
}

.legends .swatch-block {
  width: var(--swatchWidth);
  height: var(--swatchHeight);
  margin: 0 0.5em 0 0;
}

.legends .swatch {
  display: inline-flex;
  align-items: center;
  margin-right: 1em;
}

.legends .swatch::before {
  content: "";
  width: var(--swatchWidth);
  height: var(--swatchHeight);
  margin-right: 0.5em;
  background: var(--color);
}

