# https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn --frozen-lockfile
      - run: |
          echo ::add-matcher::.github/eslint.json
          yarn run eslint src test --format=compact
      - run: yarn run prettier --check src test
      - run: yarn test:mocha
      - name: Test artifacts
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-output-changes
          path: test/output/*-changed.*
